.img{
    flex: 250px;
    height: 400px;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}

.img:hover{
  transform: scale(1.02);
}

.imgS{
  width: 100%;
  height: 100vh;
  background-color:#000000c1;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
